[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
[Uu]ser[Ss]ettings/
*.csproj
*.sln
.DS_Store
*.pidb
*.userprefs
*.unityproj
*.booproj
sysinfo.txt
*.apk
*.aab
*.unitypackage
crashlytics-build.properties
